    img {
        max-width: 50%;
        max-height: 50%;
        float: left;
}
    .bild{
        max-width: 100%;
        max-height: 100%;
        float: left;
        margin: 30px;
 }

 .list-group {
    margin-bottom: 15%;
}

.btn {
    background-color: rgb(235, 54, 8); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  .btn:hover {
    background-color: rgb(54, 77, 146);
  }
  
  
@media (max-width: 480px) {
          
}
    
@media (max-width: 800px) {
}
    
@media (min-width: 801px) and (max-width: 1024px) {
}